
/***** NAVBAR *****/

.navbar {
    background-color: rgba(20,20,20,0);
    border-radius: 0;
    flex-wrap:nowrap;
    padding-left:50px;

}
.navbar-header {
    flex-wrap:nowrap;
}


/* Navbar title */
.navbar-default .navbar-brand {
    color: #f9fffd; 
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    text-align: center;

}
.navbar-brand h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    background-color: transparent;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.navbar-brand.large {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    background-color: transparent;
    text-align: center;
    color: transparent;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(190, 241, 50);
    text-decoration:none;
}
.navbar-default .navbar-brand:hover {
    transform: scale(1.1);    
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #02383a;
    border-radius: 4px;
    border:0px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: rgb(190, 241, 50);
    /** color: #24242400;
    fill: #242424;
    border-color: #fff;**/

}

/*** JUMBOTRON ***/
a:link {
    color: rgb(241, 248, 247);
}

.jumbotron {
    text-align: left;
    color: rgba(255, 255, 255);
    background: rgba(255,255,255,0);
    margin-left:30px;
    padding: 2%;
    border-radius: 0px;
}

.jumbotron.maps {
    text-align: left;
    color: rgba(255, 255, 255);
    background: rgba(255,255,255,0);
    margin-left: 0px;
    padding: 0px;
    border-radius: 0px;
}

.jumbotron h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    font-size: 100px;
    color: rgb(241, 248, 247);
    padding-top:60px;
}

.jumbotron h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    font-size: 100px;
    color: rgb(241, 248, 247);
    padding:0px;
}
.jumbotron h3 a:link {
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    font-size: 100px;
    color: rgb(241, 248, 247);
    /*padding-top:60px;*/
}
.jumbotron.maps h3 a:link {
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    font-size: 100px;
    color: rgb(241, 248, 247);
    /*padding-top:60px;*/
}
.jumbotron.maps h3 a:hover{
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
    font-size: 100px;
    color: rgb(190, 241, 50); 
    text-decoration: none;
    /*padding-top:60px;*/
}
/** text-center container */

.col-md-4.home {
    margin-left: -30px;
    padding-left:0px;
}

.col-md-4.maps {
    background-color:rgba(255, 255, 255, 0.603);
}

.col-md-6.home {
    margin-left: -30px;
    padding-left:0px;
}

.col-md-6.maps {
    background-color:rgba(255, 255, 255, 0.603);
}

.container {
    padding-left: 0px;
}
.text-center {
    /*padding: 17.11px;*/
    padding-top: 0px;
    font-family: 'Raleway', sans-serif;
    width:100%;

}

.col-md-6.resume {
    padding-top:0px;
    margin-left:0px;
}

.col-md-6.run {
    padding-top:0px;
    margin-left:0px;
}

.col-md-10.maps {
    background-color:rgba(255, 255, 255, 0.603);
}

.col-md-7.resume {
    background-color:rgba(255, 255, 255, 0.801);
}

/*** Buttons ***/


.btn.btn-lg{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    color: rgb(228, 238, 235); 
    background-color: rgba(20, 20, 20, 0);
    border-width: 0px;  
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;

}
.btn.btn-lg:hover{
    font-style: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: rgb(190, 241, 50); 
    /*background-color: rgba(20, 20, 20, 0);*/
    border-width: 0px;  
    font-family: 'Raleway', sans-serif;

}

.btn.btn-secondary{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: rgb(3, 22, 16); 
    background-color: rgba(20, 20, 20, 0);
    border-width: 0px;  
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em; 

}
/* .btn.btn-secondary:hover{
    font-style: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: rgb(190, 241, 50); 
    /*background-color: rgba(20, 20, 20, 0);
    border-width: 0px;  
    font-family: 'Montserrat', sans-serif;

}  */

/* .btn.btn-dark{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: rgb(133, 199, 26);
    background-color: rgba(20, 20, 20, 0);
    border-width: 0px;  
} */

.btn.btn-block {
   /*color:greenyellow;*/
   border-width: 0px; 
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
}




/*** CARD ***/
.shrink {
    width:80%;
    left:0;
    right:0;
    margin:auto;
}
.card {
    background-color: rgba(0, 54, 43, 0);
    border-color: #cccccc00;
    border-width: 10px;
    width: 100%;
    font-size: small;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card.cirle:hover {
    text-decoration:none;
}

.card.maps:hover {
    background-color: #ffffff;
}

.card-body {
    padding:0px;
}

/* linked pages, centering larger images */


/*** Basic Text Styles ***/

#about-world {
    max-height: 200px;
}

.resume h2 {
    font-family: "Montserrat", sans-serif;
}
.resume h3 {
    font-weight: bold;
}

.resume p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: justify;
}

.resume li {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-align: left;
    margin-top:1%;
}
.resume li:before {
    content:"- ";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.resume ul {
    list-style-type:none;
}

h4 {
    font-size: 20px
}
hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: rgb(190, 252, 243); /* rgb(241, 248, 247) */
}

a:hover {
    color: rgb(190, 241, 50);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    /*background-image: url("../assets/sm_pnw_crop3.jpg");*/
    background-color: #cccccc;
    background-size:cover;
    background-repeat: no-repeat;
    }

    /* home page styling*/
body.main {
    background-image: url("../assets/sm_pnw_crop3.jpg");
    height:900px;
    }

body.soon {
    background-image: url("../assets/IMG_1176-1.jpg"); 
    height:1130px;
    }

body.contact {
    background-image: url("../assets/IMG_1176-1.jpg"); 
    height:1200px;
    }

body.maps {
    background-image: url("../assets/IMG_7257.jpeg"); 
    height:2500px;
    }
   
body.maps.long {
    height:max-content;
}    

body.about {
    background-image: url("../assets/IMG_0678.JPG"); 
    height:1100px;
    }

body.run {
        background-image: url("../assets/IMG_0141-1.png"); 
        height:1900px;
        /*width: 100%;*/
}

body.fire {
    /*background-image: url("../assets/IMG_4507.JPG");*/ 
    background-image: url("../assets/IMG_0410.jpeg"); 
    /*background-color: rgba(255,255,255,0);*/
    height:2400px;
    }

body.art {
    background-image: url("../assets/IMG_7815.jpg");
    background-size:cover;
    }

body.restore {
    background-image: url("../assets/knee\ deep.png"); 
    background-size:cover;
}
   
        
.resume {
    font-family: 'Verdana', sans-serif;
    color: #242424;
    /*background-color: #ffffff;*/
    background-size: cover;
    }
    
.blank{
    padding: 2rem;
    background-color: rgba(255,255,255,0);
}

.blank.small{
    padding: 1rem;
    background-color: rgba(255,255,255,0);
}

.contact{
    color: rgba(255,255,255,1)
}
     
div.row.fire {
    color:white;
}